@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", "Helvetica Neue", Helvetica;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.bg-pattern {
  background-color: #e5e5f7;
  opacity: 1;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #e5e5f7 19px
    ),
    repeating-linear-gradient(#cdcdcd55, #cdcdcd);
}

.border-dashed {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='5' ry='5' stroke='black' stroke-width='5' stroke-dasharray='20%2c25' stroke-dashoffset='5=45' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 5px;
}

/* Hide the increment and decrement arrows */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
